<form class="search" method="post" action="/inmuebles">
  <div><h4>Encuentra tu piso</h4></div>
  <div>
    <input type="radio" id="form-venta"
     name="tipo" value="venta" checked>
    <label for="form-venta">Venta <span></span></label>

    <input type="radio" id="form-alquiler"
     name="tipo" value="alquiler">
    <label for="form-alquiler">Alquiler <span></span></label>
  </div>

  <label for="price">Precio máximo</label>
  <input type="range" name="price" min="100" max="500" value="250">

  <input type="text" name="cities" list="form-cities" placeholder="Ciudad" autofocus>
  <datalist id="form-cities">
  </datalist>

  <input type="submit" name="buscar" value="Buscar">
</form>
