<form class="search" action="index.html" method="post">

  <div>
    <input type="radio" id="tipo1"
     name="tipo" value="venta" checked>
    <label for="tipo1">Venta <span></span></label>

    <input type="radio" id="tipo2"
     name="tipo" value="alquiler">
    <label for="tipo2">Alquiler <span></span></label>
  </div>

  <label for="price">Precio máximo</label>
  <input type="range" name="price" min="100" max="500" value="250">

  <input type="text" name="browser" list="browsers" />
  <datalist id="browsers">
    <option value="Chrome" />
    <option value="Firefox" />
    <option value="Internet Explorer" />
    <option value="Safari" />
    <option value="Opera" />
  </datalist>
</form>
