<article class="inmueble excerpt"
         data-city="{{ include.item.address.city | downcase }}"
         data-price="{{ include.item.price }}"
         data-status="{{ include.item.status | downcase }}"
         data-url="{{ include.item.url }}"
         data-rooms="{{ include.item.basic-data.rooms }}"
         data-baths="{{ include.item.basic-data.baths }}"
         data-area="{{ include.item.basic-data.superficie-construida }}">
  {% assign image = include.item.gallery[0].image | split: '/' | last %}
  <picture>
    <source srcset="/assets/images/thumbs/{{ image }}" media="(min-width: 20em)">
    <source srcset="/assets/images/medium/{{ image }}" media="(min-width: 40em)">
    <source srcset="/assets/images/uploads/{{ image }}" media="(min-width: 50em)">
    <img src="/assets/images/uploads/originales/{{ image }}" alt="{{ include.item.title }} - {{ include.item.address.city }}">
  </picture>
  <header>
    <h1>{{ include.item.title }}</h1>
    <p>{{ include.item.address.city }}</p>
  </header>
  <div class="data">
    <ul>
      {% assign area = include.item.basic-data.superficie-construida | strip %}
      {% if area.size == 0 %}{% assign area = false %}{% endif %}
      {% unless area %}
      <li>{{ area }}m<sup>2</sup></li>
      {% endunless %}
      <li>{{ include.item.basic-data.rooms }}</li>
      <li>{{ include.item.basic-data.baths }}</li>
    </ul>
  </div>
  <div class="precio">
    <p>{{ include.item.price | intcomma: '.' }} €{% unless include.item.status == 'Venta' %}/mes{% endunless %}</p>
  </div>
  <div class="links">
    <a href="{{ include.item.url | absolute_url }}">más info</a>
  </div>

</article>
