<article class="inmueble excerpt">
  {% assign image = include.item.galley[0].image | split: '/' | last %}
  <picture>
    <source srcset="/assets/images/thumbs/{{ image }}" media="(min-width: 20em)">
    <source srcset="/assets/images/medium/{{ image }}" media="(min-width: 40em)">
    <source srcset="/assets/images/uploads/{{ image }}" media="(min-width: 50em)">
    <img src="/assets/images/uploads/{{ image }}" alt="{{ include.item.title }} - {{ include.item.address.city }}">
  </picture>
  <header>
    <h1>{{ include.item.title }}</h1>
  </header>
  <p>{{ include.item.address.city }}</p>
  <p>{{ include.item.price | intcomma: '.' }} €{% unless include.item.status == 'Venta' %}/mes{% endunless %}</p>
  <p><a href="{{ include.item.url | absolute_url }}">más info</a></p>

</article>
