{% assign titulo = include.item.title %}
{% assign ciudad = include.item.address.city %}
{% assign precio = include.item.price %}
{% assign estado = include.item.status | downcase %}
{% assign url = include.item.url %}
{% assign habs = include.item.basic-data.rooms %}
{% assign baños = include.item.basic-data.baths %}
{% assign area = include.item.basic-data.superficie-construida | strip %}
{% assign imagen = include.item.gallery[0].image | split: '/' | last %}


<article class="inmueble excerpt"
         data-ciudad="{{ ciudad | downcase }}"
         data-precio="{{ precio }}"
         data-estado="{{ estado | downcase }}"
         data-url="{{ url }}"
         data-habs="{{ habs }}"
         data-baños="{{ baños }}"
         data-area="{{ area }}">

  <picture>
    <source srcset="/assets/images/thumbs/{{ imagen }}" media="(min-width: 20em)">
    <source srcset="/assets/images/medium/{{ imagen }}" media="(min-width: 40em)">
    <source srcset="/assets/images/uploads/{{ imagen }}" media="(min-width: 50em)">
    <img src="/assets/images/uploads/originales/{{ imagen }}" alt="{{ titulo }} - {{ ciudad }}">
  </picture>
  <a href="{{ url | absolute_url }}">
    <header>
      <h1>{{ titulo }}</h1>
      <p>{{ ciudad }}</p>
    </header>
    <div class="data">
      <ul>
        {% unless area.size < 1 %}
        <li>{{ area }}m<sup>2</sup></li>
        {% endunless %}
        <li>{{ habs }} hab{% unless habs != 1 %}s{% endunless %}</li>
        <li>{{ baños }} baño{% unless baños != 1 %}s{% endunless %}</li>
      </ul>
      <div class="precio">
        {{ precio | intcomma: '.' }} €{% unless estado == 'venta' %}/mes{% endunless %}
      </div>
    </div>
  </a>
  <div class="links">
    <a href="#">555 666 777</a>
  </div>

</article>
