.page.frontpage article header h1 {
  /*height: 0;
  overflow: hidden;
  padding-top: 1080px / 1920px * 100%;
  background: white;*/
  height: calc(100vh - 100px);
  //position: relative;
  background-image: url('/assets/images/front-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .header-text {
    position: absolute;
  	top: calc(-100px + 10rem);
  	left: 2rem;
    right: 2rem;
  	/* width: 50%; */
  	/* height: 100%; */
  	font-size: 5rem;
  	text-align: center;
  	color: white;
  	font-weight: 100;
  	text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
  	max-width: 8ch;
  }
}

@media screen and (min-width: 50em) {
  .page.frontpage article header h1 {
    .header-text {
      max-width: 10ch;
    }
  }
}
