.page.frontpage article header h1 {
  height: 500px;
  background-image: url('/assets/images/front-background.jpg'),
                    url('/assets/images/front-background-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: 1s ease-in;

  @supports (height: 1vh) {
    height: calc(100vh - 100px);
  }

  .header-text {
    position: absolute;
  	top: 28px;
  	//left: 2rem;
    left: 100px;
    //right: 2rem;
  	font-size: 5rem;
  	text-align: center;
  	color: white;
  	font-weight: 100;
  	text-shadow: 3px 3px 5px rgba(0,0,0,0.8);
  	max-width: 18em;

    @supports (height: 1vh) {
      top: calc(-100px + 8rem);
      left: calc(50% - 2.5ch);
      max-width: 5ch;
    }
  }
}

@media screen and (min-width: 30em) {
  .page.frontpage article header h1 {
    .header-text {
      top: 60px;
      left: 140px;
      max-width: 30em;

      @supports (height: 1vh) {
        top: calc(-100px + 10rem);
        left: calc(50% - 4ch);
        max-width: 8ch;
      }
    }
  }
}

@media screen and (min-width: 50em) {
  .page.frontpage article header h1 {
    .header-text {
      left: 2rem;
      max-width: 35em;

      @supports (height: 1vh) {
        max-width: 9ch;
      }
    }
  }
}
