$base: hsla(154,255,82,255);
$white: hsla(0,0,255,255);
$gray: hsla(149,26,245,255);
$tint: hsla(154,51,150,255);
$shadow: hsla(154,99,100,255);
$tone: hsla(153,153,15,255);
$red: hsla(0,255,82,255);
$green: hsla(90,255,82,255);
$yellow: hsla(27,255,128,255);
