$base: rgb(0,61,165);
$white: rgb(255,255,255);
$gray: rgb(244,245,246);
$tint: rgb(129,145,171);
$shadow: rgb(61,90,139);
$tone: rgb(6,13,24);
$red: rgb(165,0,0);
$green: rgb(0,165,19);
$yellow: rgb(255,164,0);
