.frontpage #form-busqueda {
  position: relative;
  width: 17rem;
  margin: 0 auto;
  form {
    border-radius: 5px;  
  }
  h4 {
    line-height: 2;
    text-align: center;
  }
  .search {
    display: grid;
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (min-width: 50em) {
  .frontpage #form-busqueda {
    width: 100%;
    .search {
      position: absolute;
      top: -440px;
      width: 17rem;
      right: 1rem;
      background-color: rgba($gray, 0.8);
      box-shadow: 3px 2px 5px rgba(0,0,0,0.6), -3px 2px 5px rgba(0,0,0,0.6);

      @supports (height: 1vh) {
        top: calc(-100vh + 10rem);
      }
    }
  }
}
