$base-font: 'Muli', sans-serif;
$headers-font: 'Montserrat', sans-serif;

body {
  font-family: $base-font;
}

header {
  font-family: $headers-font;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
