<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page frontpage">

    {% include navigation.html %}

    <article>
      <header>
       <h1>
         <div class="background-image">
           This is the Home Page
         </div>
       </h1>
      </header>

      <section id="form-busqueda">
        {% include formulario-busqueda-inmueble.html %}
      </section>

      <main>
        {{ content }}
      </main>

    </div>

    {% for inc in page.foot-includes %}
      {% include {{ inc }} %}
    {% endfor %}

  </body>
</html>
