<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page">

    {% include navigation.html %}

    <article>
      <header>
       <h1>This is the Home Page</h1>
      </header>

      <main>
        {{ content }}
      </main>

    </div>

    {% for inc in page.foot-includes %}
      {% include {{ inc }} %}
    {% endfor %}

    {% assign pisos = site.inmuebles %}
    <script type="text/javascript">
      var pisos = [
      {% for piso in pisos %}
        {
          'title': {{ piso.title }},
          'precio': {{ piso.price }}
        }{% if forloop.last != true %}{{","}}{% endif %}
      {% endfor %}
      ]
      document.addEventListener("DOMContentLoaded", function(event) {
        localStorage.setItems("pisos", JSON.stringify(pisos))
      })
    </script>

  </body>
</html>
