<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-sitetime="{{ site.time | date_to_xmlschema  }}">

    <div class="page frontpage">

    {% include navigation.html %}

    <article>
      <header>
       <h1>
         <div class="header-text">
           La llave a tu casa
         </div>
       </h1>
      </header>

      <section id="form-busqueda">
        {% include formulario-busqueda-inmueble.html %}
      </section>

      <main>
        {{ content }}
      </main>

    </div>

    {% for inc in page.foot-includes %}
      {% include {{ inc }} %}
    {% endfor %}

  </body>
</html>
