---
layout: default
---

<article class="inmueble">
  <header>
    <h1>{{ page.title}}</h1>
    <p>{{ page.address.city }}</p>
    <p>Precio: {{ page.price | intcomma: '.' }}€</p>
  </header>
  {% assign gallery = page.gallery %}
  <picture>
    <srcset src="{{ gallery[0].image | absolute_url }}">
    <img src="{{ gallery[0].image | absolute_url }}" alt="{{ page.title }} - imagen principal">
  </picture>
  {{ content }}

  {% if page.basic-data %}
  {% assign bd = page.basic-data %}
  <h2>Datos básicos</h2>
  <ul>
    {% unless bd.superficie-construida == '' %}<li>{{ bd.superficie-construida }} m<sup>2</sup></li>{% endunless %}
    {% unless bd.state == '' %}<li>{{ bd.state }}</li>{% endunless %}
  </ul>
  {% endif %}

  {% if page.muebles-acabados %}
  {% endif %}

  {% if page.equipamineto %}
  {% endif %}

  {% if page.exteriores %}
  {% endif %}

  {% if page.certificado-energetico %}
  {% endif %}

</article>
